/* ----------
    RESET
---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------
    COMMON
---------- */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.container {
    max-width: 1200px;
    margin: auto;
}
header {
    color: white;
}
section:nth-child(2n) {
    background-color: #F6F6F6;
}
section:nth-child(2n)::before {
    content: url('../img/wave.svg');
    display: block;
    transform: rotateX(180deg);
    position: relative;
    bottom: 8px;
}
section:nth-child(2n):not(:last-child)::after {
    content: url('../img/wave.svg');
    position: relative;
    top: 8px;
}
.col-logo {
    width: 20%;
}
.col-logo a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    font-size: 32px;
    transition: transform 0.4s;
}
.col-logo a:hover {
    transform: scale(1.2);
}
.col-logo a strong {
    font-size: 24px;
    margin-left: 3px;
}

/* ----------
    BUTTONS
---------- */
.btn {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: white;
    transition: transform 0.4s;
}
.btn:hover {
    transform: scale(1.2);
}
.btn-black {
    color: white;
    background-color: #23272a;
}
.btn-blue {
    color: white;
    background-color: #7289da;
}

/* ----------
    HEADER 
---------- */
.header-top {
    background-color: #255EE9;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header-row {
    display: flex;
    align-items: center;
    padding: 3px 5px 10px;
}
.col-link {
    width: 60%;
    text-align: center;
}
.col-link ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.col-link ul li a {
    text-decoration: none;
    color: inherit;
}
.col-link ul li {
    transition: transform 0.4s; 
}
.col-link ul li:hover {
    transform: scale(1.2);
}
.col-login {
    width: 20%;
    text-align: right;
}
.header-bottom {
    padding: 50px 0;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}
.hero {
    max-width: 900px;
    text-align: center;
    padding: 150px 20px 50px;
}
.hero h1 {
    font-size: 40px;
}
.hero p {
    padding: 40px 0 20px;
    font-size: 20px;
}
.hero button {
    font-size: 20px;
    margin: 0 10px;
}

/* ----------
    MAIN 
---------- */
.main-row {
    display: flex;
    padding: 50px 0;
}
.col-image {
    width: 60%;
}
.col-image img {
    width: 100%;
}
.col-text {
    padding: 40px 50px 0;
    width: 40%;
}
.col-text h2 {
    font-size: 40px;
}
.col-text p {
    padding: 40px 0;
    font-size: 18px;
}
.last-row {
    text-align: center;
    padding: 50px 0;
}
.last-row div h3 {
    width: 30%;
    margin: auto;
    padding: 30px 0 50px;
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.last-row p {
    padding: 40px 40px 0;
}
.last-section {
    width: 100%;
}

/* ----------
    FOOTER 
---------- */
.pre-footer {
    background-color: #23272a;
}
.pre-footer-row {
    display: flex;
    height: 100%;
    padding: 80px 0 50px;
}
.col-foot-small {
    color: white;
    width: 30%;
}
.col-foot-small h4 {
    font-size: 36px;
    color: #7289DA;
}
.col-foot-small .nazione {
    padding: 20px 0;
}
.col-foot-small img {
    width: 20px;
}
.contatti a{
    color: white;
    padding: 0 10px;
}
.contatti a i{
    transition: transform 0.4s;
}
.contatti a i:hover {
    transform: scale(1.4);
}
.col-foot-big {
    display: flex;
    width: 70%;
}
.mini-col-foot {
    width: 25%;
}
.col-foot-big h5 {
    font-size: 16px;
    color: #7289DA;
    padding-bottom: 10px;
}
.col-foot-big .mini-col-foot ul {
    list-style: none;
    color: white;
}
.col-foot-big .mini-col-foot ul li {
    cursor: pointer;
    padding: 10px 0;
    transition: transform 0.4s;
}
.col-foot-big .mini-col-foot ul li:hover {
    transform: scale(1.1);
}
.main-footer {
    background-color: #23272a;
}
.row-main-footer {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #23272a;
    padding: 20px 0 60px;
    border-top: 1px solid #7289da;
}
.row-main-footer .col-logo {
    color: white;
}


/* -----------
    KEYFRAMES
----------- */
.main-row > .col-image {
    animation: bouncing 1.5s infinite alternate;
    animation-timing-function: cubic-bezier(.58,.13,.4,.99);
}

@keyframes bouncing {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(100);
    }

}

.last-section > img {
    animation: waving 1.7s infinite alternate;
    animation-timing-function: cubic-bezier(.58,.13,.4,.99);
}

@keyframes waving {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(50);
    }

}