/* ----------
    RESET
---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------
    COMMON
---------- */
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1200px;
    margin: auto;
}
header {
    color: white;
}
/* ----------
    BUTTONS
---------- */
.btn {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}
.btn-black {
    color: white;
    background-color: #23272a;
}
/* ----------
    DEBUG
---------- */
.debug .header-top {
    padding: 10px 0;
    /* background-color: #add8e6; */
}
/* .debug .header-row {
    background-color: #daa520;
    /* border: dotted 2px black; */
} */
.debug .col-link {
    border-left: 2px dotted black;
    border-right: 2px dotted black;
}
/* .debug .header-bottom {
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
} */
/* .debug .hero { */
    /* height: 400px; */
    /* max-width: 900px;   max-width così lo rendo responsive */
    /* background-color: #ee82ee; */
    /* border: dotted 2px black; */
/* } */
.debug section:nth-child(2n) {
    background-color: #d3d3d3;
}
.debug .main-row {
    height: 600px;
}
/* .debug .col-image {
    background-color: #1e90ff;
    border: dotted 2px black;
}
.debug .col-text {
    background-color: #ffc0cb;
    border: dotted 2px black;
} */
.debug .last-row {
    height: 1000px;
}
.debug .last-section {
    background-color: #228b22;
    border: dotted 2px black;
}
.debug .pre-footer {
    height: 600px;
    background-color: #23272a;
}
.debug .col-foot-small {
    background-color: #f08080;
}
.debug .col-foot-big {
    background-color: #20b2aa;
}
.debug .main-footer {
    height: 100px;
    background-color: #23272a;
}
.debug .mini-col-foot {
    border: dotted 2px white;
}
.debug .row-main-footer {
    background-color: #7fffd4;
}
.debug .col-footer {
    border: dotted 2px black;
    background-color: #ffb6c1;
}
/* ----------
    HEADER 
---------- */
.header-top {
    background-color: #255EE9;
}
.header-row {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    border: 2px dotted black;
}
.col-logo {
    width: 20%;
}
.col-logo i {
    display: flex;
    align-items: center;
    font-size: 32px;
}
.col-logo i strong {
    font-size: 16px;
    margin-left: 3px;
}
.col-link {
    width: 60%;
    text-align: center;
}
.col-link ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.col-link ul a {
    text-decoration: none;
    color: inherit; 
}
.col-login {
    width: 20%;
    text-align: right;
}
.header-bottom {
    padding: 50px 0;
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.hero {
    max-width: 900px;
    text-align: center;
    padding: 150px 20px 50px;
}
.hero h1 {
    font-size: 40px;
}
.hero p {
    padding: 40px 0 20px;
    font-size: 18px;
}

/* ----------
    MAIN 
---------- */
.main-row {
    display: flex;
    padding: 50px 0;
}
.col-image {
    width: 60%;
}
.col-image img {
    width: 100%;
}
.col-text {
    padding: 40px 50px;
    width: 40%;
}
.col-text h2 {
    font-size: 40px;
}
.col-text p {
    padding: 40px 0;
}
.last-row {
    display: flex;
    padding: 50px 0;
}
.last-section {
    width: 100%;
}

/* ----------
    FOOTER 
---------- */
.pre-footer-row {
    display: flex;
    height: 100%;
    padding: 10px 0 50px;
}
.col-foot-small {
    width: 30%;
}
.col-foot-big {
    display: flex;
    width: 70%;
}
.mini-col-foot {
    width: 25%;
}
.main-footer {
    margin-top: 1px;
    padding-top: 30px;
}
.row-main-footer {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.col-footer {
    font-size: 16px;
    padding: 3px 5px;
}